.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

body {
  background-image: url("https://images.pexels.com/photos/296890/pexels-photo-296890.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;  
}

.title {
  color: white;
}

.subtitle {
  color: white;
}

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
}

.signup {
  margin-top: 35vh;
}

.login {
  margin-top: 35vh;
}

.AddItems{
  margin-top: 25vh;
}

.ShowUsers{
  margin-top: 25vh;
  font-size: 3vh;
  color: #fabada;
}

.ShowRestaurants{
  margin-top: 25vh;
  font-size: 3vh;
  color: #fabada;
}

.navbar a {
    color: white;
    cursor: pointer;
}

.navbar-dropdown a{
  color: black;
}

.App-link {
  color: #fabada;
}

fieldset {
  border: 0;
}

.foter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}
p {
  color: #fabada;
}

h1 {
  color: white;

}

h2 {
  color: white;

}

h3{
  color: white;
}

label {
  color: white;
}