.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

body {
  background-image: url("https://images.pexels.com/photos/296890/pexels-photo-296890.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;  
}

.title {
  color: white;
}

.items {
  margin-top: 25vh;
  font-size: 4vh;
  color: white;
  background-color:rgba(93, 93, 93, 0.493);

}

.subtitle {
  color: white;
}

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
}

.signup {
  margin-top: 35vh;
  color: white;
  background-color:rgba(93, 93, 93, 0.493);
}

.signuprest {
  margin-top: 30vh;
color: white;
background-color:rgba(93, 93, 93, 0.493);
width: 100%;

}

.white {
color: white;
}


.login {
  margin-top: 35vh;
  background-color:rgba(93, 93, 93, 0.493);
}

.AddItems{
  margin-top: 25vh;
  background-color:rgba(93, 93, 93, 0.493);
}



.ShowUsers{
  margin-top: 25vh;
  font-size: 3vh;
  color: #fabada;
  background-color:rgba(93, 93, 93, 0.493);
}

.ShowRestaurants{
  margin-top: 25vh;
  font-size: 3vh;
  color: #fabada;
  background-color:rgba(93, 93, 93, 0.493);
}

.App-link {
  color: #fabada;
}

.navbar a {
    color: white;
    cursor: pointer;
}

.navbar-dropdown a{
  color: black;
}


fieldset {
  border: 0;
}

.myfooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}



h1 {
  color: white;
  font-size: 8vh;
}

h1:hover{
  color:green;
  transition: 3s;
}

h2 {
  color: white;
  border-bottom: 3px solid grey;
  display: inline-block;
  font-size: 5vh;
}

h2:hover {
  color: lightgreen;
  transition: 1s;
}

.subs{
  font-size: 4vh;
  border-bottom: 0.5px solid grey;
  display: inline-block;
  margin-top: 2vh;
}

h3{
  color: white;
}

label {
  color: white;
}

a {
  color: lightblue;
}

p {
  color: white;
}

.semueve:before{
content: '';
position: absolute;
top: 0px;
left: 0px;
width: 0px;
height: 42px;
background: rgba(35, 150, 50, 0.972);
border-radius: 50px;
transition: all 2s ease;
}

.semueve:hover:before{
  width: 100%;
}

.articles{
  font-size: 3vh;
}